{% include 'base.html' %}


<body>

	<form method="POST" action="{% url 'hack.views.addClass' %}">
	{% csrf_token %}
		<input type="submit" id="addClassButton" value="Add New Class" style="width:700px; height:100px"/>
	</form>

	<!--populate class for all classes in database, they will be buttons-->
	<div class="btn-group-vertical" role="group">
		{% for x in returnlist %}
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-cancel" style="width:700px">{{x}}</button>
		{% endfor %}
	</div>
</body>
</html>