<!DOCTYPE html>
  <html lang="en">
    <head>
      <title> Is It Cancelled</title>
    </head>
    <script type="text/javascript" src="{{STATIC_URL}}jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    
    
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap-theme.min.css">
    

    <body>



      <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">isItCancelled?!?</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul id='searchUL' class="nav navbar-nav">
      {% if not user.is_authenticated %}
        <li class="active"><a href="{%url 'registerPage' %}">Register <span class="sr-only">(current)</span></a></li>
        
        <li><a href="{% url 'hack.views.signin'%}">Login</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <!-- <li><a href="{% url 'hack.views.notify'%}">Notify</a></li> -->
        <li><a href="{% url 'hack.views.addClass'%}">Classes List</a></li>
        {% endif %}
          
      </ul>
      
      <ul  class="nav navbar-nav navbar-right">

        <!-- <li><a href="#">Link</a></li> -->
          {% if user.is_authenticated %}
          <li><a>Hello {{user}}</a></li>
          <li><a href="{% url 'logoutUser' %}">Logout</a></li>
          {% endif %}
          
          <li><a href="{% url 'userFeed' %}">Feed</a></li>

          </ul>
        
        
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- <form method="POST" action="{% url 'searchFeed' %}">
  <input class="form-control" style="float:left; width:200px" type="text" value="search box"/>
  <button type="submit" style="float:left" class="btn btn-success" value="Search">Search</button>
  </form> -->

<script type="text/javascript">
  
$(window).bind('load', function(){
  var url = window.location.href
    console.log(url)
    if (url=='http://localhost:8000/userFeed/'){
    // console.log("INSIDE")
  // <input class="form-control" style="float:left; width:200px" type="text" value="search box"/>  
  $('#searchUL').append('<form method="POST" style="margin-left:800px; margin-top:10px;" action="{% url "searchFeed" %}">  {{searchFeedForm.className}}  <button type="submit" class="btn btn-success" value="Search">Search</button> <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}" /> </form>')

// <input type='hidden' name='csrfmiddlewaretoken' value='u3s4hakN8hTUeAwOCbGfgYIvoUdzrHAM' /> </form>')



  }

})

</script>

 


