<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
<!-- <head> -->
<!-- <title>Notify</title> -->
<!-- </head> -->

{% include 'base.html' %}
<body>

{% if msg%}
<div class="alert alert-success alert-dismissable">
   <button type="button" class="close" data-dismiss="alert" 
      aria-hidden="true">
      &times;
   </button>
   {{msg}}
</div>
{% endif %}


{% if notifyMsg %}
<div class="alert alert-success alert-dismissable">
   <button type="button" class="close" data-dismiss="alert" 
      aria-hidden="true">
      &times;
   </button>
   {{notifyMsg}}
</div>
{% endif %}
	




	<form method="POST" action="{% url 'hack.views.sendNotification' %}">
	{% csrf_token %}
		<input type="button" id="notifyButton" data-toggle="modal" data-target="#notifyModal" value="notify" style="width:250px; height:100px"/>

	</form>

	<form method="POST" action="{% url 'hack.views.addNumbers' %}">
	{% csrf_token %}
		<input class="btn btn-primary"  type="button" data-toggle="modal" data-target="#myModal" id="addNumbersButton" value="Add Numbers"  style="width:250px; height:100px"/><!---->
		<!--<button class="btn btn-default" id="addNumbersButton" data-toggle="modal" data-target="#myModal">Add Numbers</button>-->
	</form>


	<!-- ADD NUMBERS MODAL -->
	<form method='POST' action="{% url 'addDetailsToDB' %}">
	{%csrf_token %}
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Student Details</h4>
				</div>
				<div class="modal-body">
				<table>
				<tr>
				<td>
				Class Name:
				</td>
				<td>
				{{form.className}}
				</td>
				<tr>
				<td>
					<h5>Phone Numbers:</h5>
					{{form.phoneNumbers}}
				</td>
				<td style="margin-left:50px">
					<h5>Emails:</h5>
					{{form.emails}}
					</td>
					</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save Numbers</button>
				</div>
			</div>
		</div>
	</div>
	</form>
	<!-- END OF END NUMBERS MODAL -->



	<!-- NOTIFY MODAL -->
	<form method='POST' action="{% url 'sendNotification' %}">
	{%csrf_token %}
	<div class="modal fade" id="notifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Student Details</h4>
				</div>
				<div class="modal-body">
				<table>
				<tr>
				<td>
				Class
				</td>
				<td>
				{{notifyForm.class_name}}
				</td>
				<tr>
				<td>
					<h5>Note:</h5>
					{{notifyForm.note}}
				</td>
				</tr>
				</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Send Notification</button>
				</div>
			</div>
		</div>
	</div>
	</form>
	<!-- END OF NOTIFY MODAL -->






	<form method="POST" action="{% url 'hack.views.logoutUser' %}">
	{% csrf_token %}
		<!---<input class="btn btn-default"  type="submit" id="logOut" value="Logout" style="width:250px; height:100px"/>-->
		<button class="btn btn-primary" id="logOut">Logout</button>
	</form>


	

</body>

</html>