
{% include 'base.html' %}

<html lang="en">
<head>
    <title> Sign in </title>
    <link rel="stylesheet" href="{{STATIC_URL}}/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}/css/body.css">
    <link rel="stylesheet" href="{{STATIC_URL}}/bootstrap/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container text-center">
<form class="form-signin" method="post" action="{% url 'hack.views.authenticateUser' %}" role="form">
{% csrf_token %}
{% load bootstrap %}
<h2 class="form-signin-heading">Sign In</h2> 
<table>
<tr>
    
    <td class="container text-center">{{form.username | bootstrap_horizontal}}</td>
</tr>
<tr>
   
    <td class="container text-center">{{form.password | bootstrap_horizontal}}</td>
</tr>
</table>

 <button class="btn btn-lg btn-primary" type="submit">Login</button>
</form>
</div>
{{msg}}
</body>